<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/"><i class='fas fa-dice-d6 navbar-icon' style='font-size:36px'></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-lg-auto mr-0">
      {% for item in menu.meta.items %}
        {% if item == 'Skóre' %}
          <li class="nav-item dropdown">
            <a class="nav-link" href="#"  id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="nav-link dropdown-navlink menu-item menu-item-type-post_type menu-item-object-page" href="/skore-piskorky/">Piškôrky</a>
              <a class="nav-link dropdown-navlink menu-item menu-item-type-post_type menu-item-object-page" href="/skore-pexeso/">Pexeso</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.link }}">{{ item }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if user %}
        <ul class="navbar-nav ml-lg-auto ml-0">
          <li class="nav-item">
            <div class="dropdown dropleft">
              <a href="/login" class="nav-link text-primary" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> {{ user.nickname }} <i class='fas fa-angle-down'></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                {% for item in menu.teacher.items %}
                   <a class="nav-link dropdown-navlink {{ item.class }}" href="{{ item.link }}">{{ item }}</a>
                {% endfor %}
                <a class="nav-link dropdown-navlink" href="/logout">Odhlásiť sa</a>
              </div>
            </div>
          </li>
        </ul>
    {% else %}
        <a href="/login" style="text-decoration: none"><i class="fas fa-user mr-2"></i>Prihlásenie</a>
    {% endif %}
  </div>
</nav>
