{% if fields.title or fields.files %}
  <div class="fce-downloads" data-template="fce/downloads.twig">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            {% if fields.title %}
              <h2 class="fce-downloads-title">{{fields.title}}</h2>
            {% endif %}
            {% if fields.files %}
              <ul class="fce-downloads-items">
                {% for file in fields.files %}
                  <li class="fce-downloads-items-item">
                    {{file.file_name}}
                    {% set fileType = function('getFileType', file.file.filename) %}
                    {{ fileType }}
                    {% set size = function('formatSizeUnits', file.file.filesize ) %}
                    {{ size }}
                    <a href="{{file.file.url}}" title="{{file.file_name}}" target="_blank">
                      {% include "images/download.svg" %}
                      HERUNTERLADEN
                    </a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
{% endif %}
