<div class="fce-accordion" data-template="fce/homepage_games_picture_text.twig">
  <div class="container">
    <h1 class="text-dark text-center p-3">Vítajte na mojej domovskej stránke</h1>
    <div class="row">
      <div class="col-md-6">
        <a href="{{ fields.left_page }}">
          <div class="image-box mb-2">
            <img src="{{fields.left_picture}}" alt="Unsplashed Random" />
          </div>
        </a>
        <figcaption class="figure-caption">{{fields.left_text}}</figcaption>
      </div>
      <div class="col-md-6">
        <a href="{{ fields.right_page }}">
          <div class="image-box mb-2">
            <img src="{{fields.right_picture}}" alt="Unsplashed Random" />
          </div>
        </a>
        <figcaption class="figure-caption">{{fields.right_text}}</figcaption>
      </div>
    </div>
  </div>
</div>
