<!DOCTYPE html>
<html lang="{{site.language}}">
  <head>
    <meta charset="{{site.charset}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

{#    <script src="https://unpkg.com/vue"></script>#}
{#    <script src="https://unpkg.com/vueperslides"></script>#}
{#    <link href="https://unpkg.com/vueperslides/dist/vueperslides.css" rel="stylesheet">#}

    {{wp_head}}
  </head>

  <body class="{{body_class}}">
    <div id="game-view">
      <!--[if lt IE 9]>
        <p class="unsupported-browser text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
      <![endif]-->
      <noscript>
          <p class="text-center">For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank"> instructions how to enable JavaScript in your web browser</a></p>
      </noscript>
      {% set questions = function('getAllQuestions') %}
      {% set categories = function('getQuestionsCategories') %}
      {% set cards = function('getRandomCards') %}
      {% set cards = function('paginationHighScore') %}

      {% filter secureContentEmails %}
        {% include 'partials/header.twig' %}

        {% block content %}{% endblock %}


        {% include 'partials/footer.twig' %}

        <div class="cookie-infobox">
          <div class="container">{{ getOption('theme_settings__cookie_info_box__text') }}</div>
        </div>
      {% endfilter %}

    </div>
    {{wp_footer}}
{#    <script src="/wp-content/themes/template/resources/Public/Js/app.js"></script>#}

  </body>
</html>
