{#<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">#}
{#<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>#}
{#<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>#}
<!------ Include the above in your HEAD tag ---------->


{% set questions = function('getRandomQuestions') %}



{#{{ dump(questions.posts) }}#}
<div class="container-fluid bg-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="enter-name-form" class="p-4" style="display: none">
        <form type="POST" onsubmit="return activeGame.handle_my_input()">
          <div class="form-group">
            <label for="exampleInputEmail1" class="mb-2">Zadajte svoje meno a priezvisko</label>
{#            <input type="text" class="form-control" id="name" oninvalid="activeGame.InvalidMsg(this);" aria-describedby="emailHelp" placeholder="Vaše meno" required>#}
            <input type="text" class="form-control" id="surname" oninvalid="activeGame.InvalidMsg(this);" aria-describedby="emailHelp" placeholder="Vaše priezvisko" required>
            <small id="emailHelp" class="form-text text-muted">Vaše meno a priezvisko sa zapíše do tabuľky najlepších hráčov</small>
          </div>
          <button type="submit" class="btn btn-primary">Odoslať</button>
        </form>
      </div>
      <div id="quiz-content">
        <input type="hidden" name="question_index" value="0">
        <input type="hidden" name="questions_array" value="0">
        <!-- modal-header class before -->
        <div class="modal-window">
          <h3 id="question-title"><span class="label label-warning" id="qid"></span>
            {{ questions.posts[0].post_title }}
          </h3>
          <hr>
          <div>
            <h4>Počet správnych odpovedí:<span id="count_right_answers" class="ml-2">0</span></h4>
            <h4>Počet nesprávnych odpovedí:<span id="count_incorrect_answers" class="ml-2">0</span></h4>
          </div>
        </div>

        <div class="modal-body">
          <div class="col-xs-3 col-xs-offset-5">
            <div id="loadbar" style="display: none;">
              <div class="blockG" id="rotateG_01"></div>
              <div class="blockG" id="rotateG_02"></div>
              <div class="blockG" id="rotateG_03"></div>
              <div class="blockG" id="rotateG_04"></div>
              <div class="blockG" id="rotateG_05"></div>
              <div class="blockG" id="rotateG_06"></div>
              <div class="blockG" id="rotateG_07"></div>
              <div class="blockG" id="rotateG_08"></div>
            </div>
          </div>
          <div class="quiz" id="quiz" data-toggle="buttons" @click.prevent="activeGame.test(this.id)">
            <label id="1" class="choice element-animation1 btn btn-lg btn-primary btn-block">
              <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
              {#            <input type="radio" name="q_answer" value="1">#}
              {{ questions.posts[0].answer_a }}
            </label>
            <label id="2" class="choice element-animation2 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
              {{ questions.posts[0].answer_b }}
            </label>
            <label id="3" class="choice element-animation3 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
              {{ questions.posts[0].answer_c }}
            </label>
            <label id="4" class="choice element-animation4 btn btn-lg btn-primary btn-block mb-2-half"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
              {{ questions.posts[0].answer_d }}
            </label>
            <!-- right answer for current question-->
            <input type="hidden" name="question_right_answer" id="rightAnswer" value="{{ questions.posts[0].right_answer }}">
          </div>
          <div class="d-flex">
            <div class="question-information-counter"><span id="question-number">1</span> z 5</div>
{#            <div v-if="activeGame.questionIndex > 0"><span id="arrow-back">&#8592;</span></div>#}

            <div v-if="activeGame.arrowVisibility === true" @click.prevent="activeGame.setNextQuestion()" class="ml-auto p-2"><span id="arrow-next">&#8594;</span></div>
            <button v-if="activeGame.formClicked === true && activeGame.questionIndex === 4" @click.prevent="activeGame.showNameForm()" class="btn btn-primary ml-auto" type="button">Skončiť test</button>

          </div>

        </div>
        <div class="modal-footer text-muted">
          <span id="answer"></span>
        </div>
      </div>
    </div>
  </div>
</div>

